body
{
   background-color: black;
}
header
{
    text-align: center;
}
h1,h2,h4,h3
{
    text-align: center;
    color: cadetblue;
}
p{
    color: white;
}
img
    {
        text-align: center;
    }
    footer{
        text-align: center;
    }
    a
    {
        color: white;
        padding: 5px;
    }
    p
    {
        color: rgb(109, 168, 5);
    }
    a:hover{
        text-emphasis: none;
            color: green;
            padding: 1px;
            font-size: 12pt;
            border-radius: 1.8rem;
        
    }
    .jumbotron{
        padding: 10px;
background-color: rgb(110, 61, 61);
    }
    nav
    {
        padding: 5px;
    }
    
   
   
   